@import "./antd.overrides.scss";
@import "./typography.scss";
@import "./variables.scss";

:root {
  font-size: 16px;
}

html,
body {
  @extend .roboto;
  margin: 0;
  color: $primary-color;
}

#root {
  margin: 0 16px;
  display: block;
  height: 100%;
}
.page {
  height: 100%;
}

a {
  text-decoration: underline $primary-color 1px;
  font-style: italic;
}

.main-title {
  @extend .playfair-display-700;

  max-width: 180px;
  margin-top: 0;
  margin-bottom: 8vh !important;
}

.main-content {
  margin: auto 0;
}

.ant-form-item {
  label {
    @extend .playfair-display-400;
    font-size: 1rem;
  }
}

.about {
  width: fit-content;
  font-size: 0.95em;
  margin: 0 auto 6px auto;
}
